  .rodape {
    background-color: var(--cor-portifolio);
    color: var(--cor-hover);
    text-align: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    font-family: var(--fonte);
    font-size: 14px;
  }

  .contat-tecnologia {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contato {
    display: flex;
    flex-direction: column;
    width:50%;
    padding-bottom: 45px;
  }

  .title-contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 35px;
    padding: 60px 0 30px 0;
    font-family: var(--fonte-teste);
    text-decoration: underline;
  }

  .contato-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 90%;
    margin: auto;
  }

  .contact-form {
    flex: 1 1 300px;
    padding: 1.0rem;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: var(--cor-fundo);
  }

  .contact-form label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    font-family: var(--fonte);
  }

  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.4rem;
    border-radius: 10px;
    border: 1px solid var(--cor-borda);
    font-family: var(--fonte);
  }

  .contact-form button {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: var(--cor-botaoF);
    color: var(--cor-contato);
    border: 1px solid var(--cor-hover);
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--fonte);
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }

  .contact-form button:hover {
    background-color: var(--cor-botao-hover);

  }
