@import url(style-header.css);
@import url(style-body.css);
@import url(style-projetos.css);
@import url(style-rodape.css);




:root {
    --cor-portifolio: #e6e6e6;
    --cor-letra:#100c09;
    --cor-hover:#100c09;
    --cor-borda: #9e9c9c;
    --cor-fundo:#e6e6e6;
    --cor-contato:#ebeaea;
    --cor-botaoF: #FE7743;
    --fonte: "Funnel Sans", sans-serif;
    --fonte-link: "Akaya Kanadaka", system-ui;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    width: auto;
    max-width: 100%;
    height: auto !important;
}

body {
    font-size: 16px;
    background-color: var(--cor-portifolio);
    width: 100%;
    box-sizing: border-box;
}

